body {
  padding: 50px;
  color: #e8cbc3;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #5d1755;
}
a {
  color: #00b7ff;
}
#wrapper {
  width: 920px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 20px;
}
